<html ng-app="nowaAplikacja">
	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" type="text/JavaScript"></script>
		
		<script type="text/JavaScript">
		
		(function(){
			var nowyModul = angular.module("nowaAplikacja", []);
			var kontrolerKsiazek = function($scope)
			{
				
				$scope.komunikat1 = "Lista ksiazek";
				this.komunikat2 = "Kontroler ksiazek wita";
				$scope.wybrane = "Brak";
				
				$scope.listaKsiazek = [];
				$scope.wyjmijKsiazki = function()
					{
						$scope.listaKsiazek = [
							{ID: "1", Tytul: "Potop"},
							{ID: "2", Tytul: "Krzyzacy"},
							{ID: "3", Tytul: "Pan Tadeusz"},
							{ID: "4", Tytul: "Harry Potter"},
							{ID: "5", Tytul: "Antygona"}
							];
							$scope.liczba = 5;
					}
				$scope.data = {
						singleSelect: null,
					availableOptions: [
						{ID: '1', Waluta: 'PLN'},
						{ID: '1', Waluta: '€'},
						{ID: '1', Waluta: '$'},
						{ID: '1', Waluta: '£'}
					],
				}
				
				
				
				
			}
			nowyModul.controller("kontrolerKsiazek", ["$scope", kontrolerKsiazek]);
		}());
		</script>	
	</head>

	<body ng-controller="kontrolerKsiazek">
		{{komunikat1}}
		<div ng-controller="kontrolerKsiazek as kom2">
		<h2>{{kom2.komunikat2}}</h2>
		</div>
		<select ng-model="sortOrder">
			<option value = "+Tytul">Nazwa od A</option>
			<option value = "-Tytul">Nazwa od Z</option>
		</select>
		<table>
			<thead>
				<th>ID</th>
				<th>Tytul</th>
			</thead>
			<tbody>
				<tr ng-repeat="ksiazka in listaKsiazek  | limitTo : liczba | orderBy : sortOrder">
					<td>{{ksiazka.ID}}</td>
					<td>{{ksiazka.Tytul}}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" ng-click="wyjmijKsiazki()" value="Pokaz ksiazki"/></br>
		<input type="text" ng-model="liczba"/>
		<br>
		<br>
		<p>{{paragraf | uppercase}}</p>
		<p>{{paragraf | lowercase}}</p>
		<input type="text" ng-model="paragraf"/>
		<br>
		<form name="myForm">
			<input type="text" ng-model="poleLiczba"/>
			<select name="repeatSelect" ng-model="data.repeatSelect">
				<option ng-repeat="option in data.availableOptions" value="{{option.Waluta}}">{{option.Waluta}}</option>
			</select>
		</form>
		<br>
		<h3>{{poleLiczba | currency: data.repeatSelect}}</h3>
		
	</body>
</html>